footer{
    background-color: #0066FE;
    padding-top: 100px;
    min-height: 550px;
    .logo{
        // width: 100%;
        img{
            width: 120px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        .txt{
            display: flex;
            flex-direction: column;
            .title{
                // width: 100%;
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                letter-spacing: 1em;
                color: #FFFFFF;
            }
            .subtitle{
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                letter-spacing: 0.5em;
                color: #FFFFFF;
            }
        }
    }
    .lang{
        display: flex;
        gap:30px;
        align-items: center;
        justify-content: center;
        // a{
        //     text-decoration: none;
        //     font-style: normal;
        //     font-weight: 700;
        //     font-size: 24px;
        //     color: #FFFFFF;
        // }
        // a:hover{
        //     text-decoration: underline;
        // }
        .lang-switcher {
            pointer-events: auto;
            color: #fff;
            // font-style: 700;
            font-weight: 700;
            font-size: 18px;
            cursor: pointer;
            pointer-events: auto;
          }
          .lang-switcher:hover {
            // color: #b33;
            border-bottom: 1px solid;
          }
            /* Выделяем активную переключалку тоже с помощью классов родителя */
        //   .kz .lang-switcher--kz,
        //   .ru .lang-switcher--ru {
        //     color: #F48028;
        //     border-bottom: 1px solid;
        //     // border-bottom: none;
        //     font-weight: bold;
        //     cursor: default;
        //   }
    }
    .social{
        display: flex;
        gap:20px;
        align-items: center;
        justify-content: right;
        img{
            width: 40px;
        }
    }
    .footer__divider{
        margin: 64px auto;
        max-width: 1000px;
        height: 0px;
        border: 1px solid #FFFFFF;
    }
    .footer__list{
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        list-style: none;
        // text-align: ;
    }
    .footer__link{
        a{
            font-weight: 400;
            font-size: 20px;
            text-decoration: none;
            color: #FFFFFF;
        }
        .pageup{
            display: block;
            color: #FFFFFF;
            position: relative;
            text-decoration: none;
            text-align: right;
            img{
                position: absolute;
                top: -45px;
                right: -5px;
            }
        }
        .pageup:hover{
            color: #F48028;
            text-decoration: underline;
        }
    }
    .footer__link:hover{
        cursor: pointer;
        color: #F48028;
        text-decoration: underline;
    }
    .requisites{
        margin-top: 80px;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 50px;
        // text-decoration: none;
        color: #ffffff;
        a{
            display: block;
            text-decoration: underline;
            color: #ffffff;
            text-align: right;
            // margin-bottom: 40px;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
@media (max-width: 1024px){
    footer{
        .logo{
            display: block;
            margin: 0 auto 40px auto;
            img{
                display: block;
                margin: 0 auto 20px auto;
            }
        }
        .footer__link{
            margin-top: 20px;
            // .pageup{
            //     img{
            //         top: 10px;
            //         right: -35px;
            //     }
            // }
        }
        .lang{
            margin-bottom: 60px;
        }
        .social{
            // margin-top: 60px;
            display: flex;
            justify-content: center;
            gap: 50px;
        }
    }
}
@media (max-width: 768px){
    footer{
        .requisites{
            // text-align: center;
            a{
                text-align: center;
            }
        }
    }
}
@media (max-width: 581px){
    footer{
        .logo{
            .txt{
                .title{
                    // letter-spacing: 10px;
                    font-size: 16px;
                }
            }
        }
        .footer__list{
            padding-left: 0;
            // width: 300px;
        }
    }
}