.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
    &__burger{
        display: none;
    }
    &__logo, &__list{
        position: relative;
        z-index: 3;
    }
    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        // z-index: 3;
        .dropdown_lang{
            position: relative;
            z-index: 3;
            cursor: pointer;
            .dropdown-toggle{
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
                padding: 12px 30px 12px 12px;
                appearance: none;
                color: #fff;
                text-align: left;
                position: relative;
                max-width: 300px;
                overflow: hidden;
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none; 
                cursor: pointer;
                outline: none;
                &::after {
                    content: '';
                    border-width: 6px;
                    border-radius: 3px;
                    border-style: solid;
                    border-color: transparent;
                    border-top-color: inherit;
                    position: absolute;
                    right: 12px;
                    top: calc(50% + 3px);
                    transform: translateY(-50%);
                }
            }
            .dropdown-toggle.active {
                &::after {
                    border-color: transparent;
                    border-bottom-color: inherit;
                    top: calc(50% - 3px);
                }
            }
        }
        .join_btn {
            position: relative;
            z-index: 3;
            font-weight: 700;
            font-size: 18px;
            color: #7C37AF;
            width: 150px;
            height: 35px;
            background: #FFFFFF;
            border-radius: 20px;
            transition: all 0.3s ease;
        }
        .join_btn:hover{
            background: #F48028;
            color: white;
            transition: all 0.3s ease;
            
        }
    }
    &__list{
        display: flex;
        gap: 30px;
        margin-bottom: 0;
        li{
            list-style: none;
        }
    }
    &__link{
        font-weight: 400;
		font-size: 18px;
		color: #FFFFFF;
		text-decoration: none;
		transition: all 0.3s ease;
    }
    &__link:hover{
		color: #F48028;
		text-decoration: underline;
		transition: all 0.3s ease;
	}
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #612092;
    z-index: 2;
}
@media (max-width: 1024px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
    }
    .header__logo{
        img{
            width: 40px;
        }
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #ffffff;
        padding-top: 70px;
        padding-right: 20px;
        transition: all 0.3s ease;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
        text-align: right;
        li{
            margin-bottom: 20px;
        }
    }
    .header__link{
        color: #612092;
        font-size: 24px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        span{
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease;
        }
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
}